*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background: #ffc6cf;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container{
    background: #fff4fc;
    width: 500px;
    height: 500px;
    border: 5px dashed #d5717b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.header h1{
    font-size: 40px;
    font-weight: 400;
}

.btn-container{
    display: flex;
    gap: 30px;
}
.btn-container > button{
    width: 80px;
    height: 32px;
    font-size: 17px;
    font-weight: 500;
    background: #000;
    color: white;
    border-radius: 1.5rem;
    border: 3px solid transparent;
    transition: .5s border;
}
#btn-yes:hover{
    cursor: pointer;
    border: #d5717b 3px solid;
}


.img{
    width: 150px;
    animation: latidos infinite 2.5s;
}

.imgR{
    width: 150px;
    animation: latidos infinite .205s;
}
@keyframes latidos {
    0%{
        transform: scale(.9);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(.9);
    }
}


@media screen and (max-width: 600px) {
    .container{
        width: 90vw;
        height: auto;
        padding: 3rem 0;
    }
    .header h1{
        font-size: 25px;
        text-align: center;
    }
    .img{
        width: 100px;
    }
    .imgR{
        width: 100px;
        animation: latidos infinite .205s;
    }
}

@media screen and (max-width: 290px) {
    .container{
        width: 250px;
        height: auto;
        padding: 2rem 0;
    }
    .header h1{
        font-size: 23px;
        text-align: center;
    }
    .btn-container{
        gap: 10px;
    }
}

.slow{
    position: relative;
}
.sabia{
    transition: 1s all;
    background: #fff4fc;
    width: 100%;
    height: 100%;
    position: absolute;
}
.slow p{
    font-size: 20px;
}
.slow span{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.slow img{
    vertical-align: middle;
}


.att{
    margin-top: 10px;
    font-size: 20px;
    color: #000;
}
.att a{
    color: #000;
    font-weight: 400;
    text-decoration: none;
}